@font-face {
  font-family: 'magicube';
  src: url("../../../fonts/magicube.eot?9mkb48");
  src: url("../../../fonts/magicube.eot?9mkb48#iefix") format('embedded-opentype'), url("../../../fonts/magicube.ttf?9mkb48") format('truetype'), url("../../../fonts/magicube.woff?9mkb48") format('woff'), url("../../../fonts/magicube.svg?9mkb48#magicube") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'magicube' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-active-line:before {
  content: "\e900";
  color: #abaeb0;
}
.icon-active-line-blue:before {
  content: "\e901";
  color: #33d0ff;
}
.icon-add:before {
  content: "\e902";
  color: #33d0ff;
}
.icon-align-justify:before {
  content: "\e903";
  color: #fff;
}
.icon-align-justify-black:before {
  content: "\e904";
  color: #31c8f6;
}
.icon-amount:before {
  content: "\e905";
  color: #ffd200;
}
.icon-angle-double-right:before {
  content: "\e906";
}
.icon-angle-up:before {
  content: "\e907";
  color: #33d0ff;
}
.icon-area-statistics:before {
  content: "\e908";
  color: #c2c5c7;
}
.icon-area-statistics-blue:before {
  content: "\e909";
  color: #33d0ff;
}
.icon-around-bright .path1:before {
  content: "\e90a";
  color: #33d0ff;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-around-bright .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: #23a6cd;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-around-bright .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-around-bright-backup .path1:before {
  content: "\e90d";
  color: #74d2e8;
}
.icon-around-bright-backup .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: #a1edff;
}
.icon-around-bright-backup .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: #8ce9ff;
}
.icon-around-bright-selected .path1:before {
  content: "\e910";
  color: #74d2e8;
}
.icon-around-bright-selected .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: #a1edff;
}
.icon-around-bright-selected .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: #8ce9ff;
}
.icon-around-dark .path1:before {
  content: "\e913";
  color: #576b7c;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.icon-around-dark .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: #4b5b68;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.icon-around-dark .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: #576b7c;
}
.icon-around-dark-backup .path1:before {
  content: "\e916";
  color: #c6c6c6;
}
.icon-around-dark-backup .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: #f5f5f5;
}
.icon-around-dark-backup .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: #ddd;
}
.icon-around-dark-selected .path1:before {
  content: "\e919";
  color: #c6c6c6;
}
.icon-around-dark-selected .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: #f5f5f5;
}
.icon-around-dark-selected .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: #ddd;
}
.icon-arrow_back:before {
  content: "\e91c";
  color: #33d0ff;
}
.icon-arrow-circle-down:before {
  content: "\e91d";
  color: #c2c5c7;
}
.icon-arrow-circle-down-blue:before {
  content: "\e91e";
  color: #33d0ff;
}
.icon-arrow-circle-more .path1:before {
  content: "\e91f";
  color: #33d0ff;
}
.icon-arrow-circle-more .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: #fff;
}
.icon-arrow-circle-up:before {
  content: "\e921";
  color: #c2c5c7;
}
.icon-arrow-circle-up-blue:before {
  content: "\e922";
  color: #33d0ff;
}
.icon-arrow-detail:before {
  content: "\e923";
  color: #33d0ff;
}
.icon-arrow-double-top:before {
  content: "\e924";
  color: #33d0ff;
}
.icon-arrow-right:before {
  content: "\e925";
  color: #b4b4b4;
}
.icon-arrows:before {
  content: "\e926";
  color: #c2c5c7;
}
.icon-arrows-blue:before {
  content: "\e927";
  color: #33d0ff;
}
.icon-bank:before {
  content: "\e928";
  color: #fff;
}
.icon-bar-chart:before {
  content: "\e929";
  color: #c2c5c7;
}
.icon-bar-chart-blue:before {
  content: "\e92a";
  color: #33d0ff;
}
.icon-bayonet:before {
  content: "\e92b";
  color: #fff;
}
.icon-bell:before {
  content: "\e92c";
  color: #fff;
}
.icon-bell-blue:before {
  content: "\e92d";
  color: #33d0ff;
}
.icon-blin:before {
  content: "\e92e";
  color: #405261;
}
.icon-bookmark-one:before {
  content: "\e92f";
  color: #f2251b;
}
.icon-bookmark-one2:before {
  content: "\e930";
  color: #f87f13;
}
.icon-bookmark-one3:before {
  content: "\e931";
  color: #efab18;
}
.icon-box-open:before {
  content: "\e932";
  color: #33d0ff;
}
.icon-button .path1:before {
  content: "\e933";
  color: #1e2a33;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.icon-button .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-calendar:before {
  content: "\e935";
  color: #c2c5c7;
}
.icon-calendar-cute:before {
  content: "\e936";
  color: #33d0ff;
}
.icon-camera:before {
  content: "\e937";
  color: #c2c5c7;
}
.icon-camera-blue:before {
  content: "\e938";
  color: #33d0ff;
}
.icon-car:before {
  content: "\e939";
  color: #fff;
}
.icon-center .path1:before {
  content: "\e93a";
  color: #33d0ff;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: #23a6cd;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: #00c3ff;
}
.icon-center-backup .path1:before {
  content: "\e940";
  color: #8fe0f3;
}
.icon-center-backup .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: #8fe0f3;
}
.icon-center-backup .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: #8fe0f3;
}
.icon-center-backup .path8:before {
  content: "\e947";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path9:before {
  content: "\e948";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path10:before {
  content: "\e949";
  margin-left: -1em;
  color: #8fe0f3;
}
.icon-center-backup .path11:before {
  content: "\e94a";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path12:before {
  content: "\e94b";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path13:before {
  content: "\e94c";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path14:before {
  content: "\e94d";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path15:before {
  content: "\e94e";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path16:before {
  content: "\e94f";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path17:before {
  content: "\e950";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path18:before {
  content: "\e951";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path19:before {
  content: "\e952";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path20:before {
  content: "\e953";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path21:before {
  content: "\e954";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path22:before {
  content: "\e955";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-backup .path23:before {
  content: "\e956";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path24:before {
  content: "\e957";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path25:before {
  content: "\e958";
  margin-left: -1em;
  color: #99e8fb;
}
.icon-center-backup .path26:before {
  content: "\e959";
  margin-left: -1em;
  color: #404a51;
}
.icon-center-backup .path27:before {
  content: "\e95a";
  margin-left: -1em;
  color: #a1edff;
}
.icon-center-enlarge .path1:before {
  content: "\e95b";
  color: #33d0ff;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-enlarge .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: #23a6cd;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-enlarge .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge .path4:before {
  content: "\e95e";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge .path5:before {
  content: "\e95f";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge .path6:before {
  content: "\e960";
  margin-left: -1em;
  color: #00c3ff;
}
.icon-center-enlarge-backup .path1:before {
  content: "\e961";
  color: #33d0ff;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-enlarge-backup .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: #23a6cd;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-enlarge-backup .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge-backup .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge-backup .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-center-enlarge-backup .path6:before {
  content: "\e966";
  margin-left: -1em;
  color: #00c3ff;
}
.icon-center-shrink .path1:before {
  content: "\e967";
  color: #33d0ff;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-shrink .path2:before {
  content: "\e968";
  margin-left: -1em;
  color: #23a6cd;
  opacity: 0.81;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
  filter: alpha(opacity=81);
}
.icon-center-shrink .path3:before {
  content: "\e969";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart:before {
  content: "\e96a";
  color: #617483;
}
.icon-chart-bgu:before {
  content: "\e96b";
  color: #fff;
}
.icon-chart-border-left .path1:before {
  content: "\e96c";
  color: #d50769;
}
.icon-chart-border-left .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path4:before {
  content: "\e96f";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-left .path5:before {
  content: "\e970";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path6:before {
  content: "\e971";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path7:before {
  content: "\e972";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path8:before {
  content: "\e973";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-left .path9:before {
  content: "\e974";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path10:before {
  content: "\e975";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path11:before {
  content: "\e976";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path12:before {
  content: "\e977";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-left .path13:before {
  content: "\e978";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path14:before {
  content: "\e979";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path15:before {
  content: "\e97a";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-left .path16:before {
  content: "\e97b";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-left .path17:before {
  content: "\e97c";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-left .path18:before {
  content: "\e97d";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-left .path19:before {
  content: "\e97e";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-left .path20:before {
  content: "\e97f";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-right .path1:before {
  content: "\e980";
  color: #d50769;
}
.icon-chart-border-right .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path4:before {
  content: "\e983";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-right .path5:before {
  content: "\e984";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path6:before {
  content: "\e985";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path7:before {
  content: "\e986";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path8:before {
  content: "\e987";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-right .path9:before {
  content: "\e988";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path10:before {
  content: "\e989";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path11:before {
  content: "\e98a";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path12:before {
  content: "\e98b";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-right .path13:before {
  content: "\e98c";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path14:before {
  content: "\e98d";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path15:before {
  content: "\e98e";
  margin-left: -1em;
  color: #d50769;
}
.icon-chart-border-right .path16:before {
  content: "\e98f";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-chart-border-right .path17:before {
  content: "\e990";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-right .path18:before {
  content: "\e991";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-right .path19:before {
  content: "\e992";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-border-right .path20:before {
  content: "\e993";
  margin-left: -1em;
  color: #235868;
}
.icon-chart-Case:before {
  content: "\e994";
  color: #c2c5c7;
}
.icon-chart-CXK:before {
  content: "\e995";
  color: #c2c5c7;
}
.icon-chart-Document:before {
  content: "\e996";
  color: #c2c5c7;
}
.icon-chart-DZK:before {
  content: "\e997";
  color: #c2c5c7;
}
.icon-chart-Entity:before {
  content: "\e998";
  color: #c2c5c7;
}
.icon-chart-Event:before {
  content: "\e999";
  color: #c2c5c7;
}
.icon-chart-FJK:before {
  content: "\e99a";
  color: #c2c5c7;
}
.icon-chart-LDK:before {
  content: "\e99b";
  color: #c2c5c7;
}
.icon-chart-line-left:before {
  content: "\e99c";
  color: #33d0ff;
}
.icon-chart-line-right:before {
  content: "\e99d";
  color: #33d0ff;
}
.icon-chart-magic-bottom:before {
  content: "\e99e";
}
.icon-chart-Org:before {
  content: "\e99f";
  color: #c2c5c7;
}
.icon-chart-path2-Entity .path1:before {
  content: "\e9a0";
  color: #464e55;
}
.icon-chart-path2-Entity .path2:before {
  content: "\e9a1";
  margin-left: -1em;
  color: #252a2d;
}
.icon-chart-Place:before {
  content: "\e9a2";
  color: #c2c5c7;
}
.icon-chart-QYK:before {
  content: "\e9a3";
  color: #c2c5c7;
}
.icon-chart-QZJK:before {
  content: "\e9a4";
  color: #c2c5c7;
}
.icon-chart-RYK:before {
  content: "\e9a5";
  color: #c2c5c7;
}
.icon-chart-Thing:before {
  content: "\e9a6";
  color: #c2c5c7;
}
.icon-chart-WPPK:before {
  content: "\e9a7";
  color: #c2c5c7;
}
.icon-chart-WQK:before {
  content: "\e9a8";
  color: #c2c5c7;
}
.icon-chart-XNK:before {
  content: "\e9a9";
  color: #c2c5c7;
}
.icon-check-circle-o:before {
  content: "\e9aa";
  color: #fff;
}
.icon-check-circle-o-blue:before {
  content: "\e9ab";
  color: #33d0ff;
}
.icon-check-square-o:before {
  content: "\e9ac";
  color: #33d0ff;
}
.icon-chevron-down:before {
  content: "\e9ad";
  color: #fff;
}
.icon-chevron-down-blue:before {
  content: "\e9ae";
  color: #33d0ff;
}
.icon-chevron-left-blue:before {
  content: "\e9af";
  color: #33d0ff;
}
.icon-chevron-right-blue:before {
  content: "\e9b0";
  color: #33d0ff;
}
.icon-circle:before {
  content: "\e9b1";
  color: #417ee3;
}
.icon-circle-layout:before {
  content: "\e9b2";
  color: #c2c5c7;
}
.icon-circle-layout-blue:before {
  content: "\e9b3";
  color: #33d0ff;
}
.icon-circle-o:before {
  content: "\e9b4";
  color: #c2c5c7;
}
.icon-circle-o-blue:before {
  content: "\e9b5";
  color: #33d0ff;
}
.icon-close-circle-blue:before {
  content: "\e9b6";
  color: #33d0ff;
}
.icon-clothes:before {
  content: "\e9b7";
  color: #fff;
}
.icon-clothes-blue:before {
  content: "\e9b8";
  color: #33d0ff;
}
.icon-cog:before {
  content: "\e9b9";
  color: #fff;
}
.icon-cog-blue:before {
  content: "\e9ba";
  color: #33d0ff;
}
.icon-company:before {
  content: "\e9bb";
  color: #fff;
}
.icon-credit:before {
  content: "\e9bc";
  color: #6caed5;
}
.icon-credit-card:before {
  content: "\e9bd";
  color: #4fe9d5;
}
.icon-credit-card-alt:before {
  content: "\e9be";
  color: #fff;
}
.icon-crime:before {
  content: "\e9bf";
  color: #fff;
}
.icon-dashboard:before {
  content: "\e9c0";
  color: #fff;
}
.icon-dashboard-btn:before {
  content: "\e9c1";
  color: #fff;
}
.icon-dashboard-set-btn:before {
  content: "\e9c2";
  color: #33d0ff;
}
.icon-dashed:before {
  content: "\e9c3";
  color: #c2c5c7;
}
.icon-dataset:before {
  content: "\e9c4";
  color: #c2c5c7;
}
.icon-debit-card:before {
  content: "\e9c5";
  color: #eb8081;
}
.icon-delete:before {
  content: "\e9c6";
  color: #c2c5c7;
}
.icon-delete-blue:before {
  content: "\e9c7";
  color: #33d0ff;
}
.icon-deposit:before {
  content: "\e9c8";
  color: #f2ae4c;
}
.icon-difference-set:before {
  content: "\e9c9";
  color: #c2c5c7;
}
.icon-difference-set-blue:before {
  content: "\e9ca";
  color: #33d0ff;
}
.icon-document:before {
  content: "\e9cb";
  color: #484e53;
}
.icon-document-white:before {
  content: "\e9cc";
  color: #fff;
}
.icon-dot-circle:before {
  content: "\e9cd";
  color: #33d0ff;
}
.icon-earth:before {
  content: "\e9ce";
  color: #617483;
}
.icon-earth-blue:before {
  content: "\e9cf";
  color: #33d0ff;
}
.icon-edit:before {
  content: "\e9d0";
  color: #fff;
}
.icon-edit-blue:before {
  content: "\e9d1";
  color: #33d0ff;
}
.icon-ellipsis-h .path1:before {
  content: "\e9d2";
  color: #4a5b6a;
}
.icon-ellipsis-h .path2:before {
  content: "\e9d3";
  margin-left: -1em;
  color: #fff;
}
.icon-entity-white:before {
  content: "\e9d4";
  color: #fff;
}
.icon-event:before {
  content: "\e9d5";
  color: #fff;
}
.icon-event_node:before {
  content: "\e9d6";
  color: #33d0ff;
}
.icon-exclamation-circle-blue:before {
  content: "\e9d7";
  color: #33d0ff;
}
.icon-exclamation-circle-o:before {
  content: "\e9d8";
  color: #fff;
}
.icon-exclamation-circle-o-blue:before {
  content: "\e9d9";
  color: #33d0ff;
}
.icon-export:before {
  content: "\e9da";
  color: #c2c5c7;
}
.icon-export-blue:before {
  content: "\e9db";
  color: #33d0ff;
}
.icon-eye:before {
  content: "\e9dc";
  color: #c2c5c7;
}
.icon-eye-blue:before {
  content: "\e9dd";
  color: #33d0ff;
}
.icon-eye-circle:before {
  content: "\e9de";
  color: #6d7c88;
}
.icon-eye-circle-blue:before {
  content: "\e9df";
  color: #32c6f3;
}
.icon-eye-slash:before {
  content: "\e9e0";
  color: #6d7c88;
}
.icon-eye-slash-blue:before {
  content: "\e9e1";
  color: #32c6f3;
}
.icon-figure-map:before {
  content: "\e9e2";
}
.icon-filter:before {
  content: "\e9e3";
  color: #c2c5c7;
}
.icon-filter-blue:before {
  content: "\e9e4";
  color: #33d0ff;
}
.icon-folder:before {
  content: "\e9e5";
  color: #c2c5c7;
}
.icon-folder-open:before {
  content: "\e9e6";
  color: #c2c5c7;
}
.icon-folder-open-blue:before {
  content: "\e9e7";
  color: #33d0ff;
}
.icon-folder-open-o-blue:before {
  content: "\e9e8";
  color: #33d0ff;
}
.icon-frequency:before {
  content: "\e9e9";
  color: #4fe8d4;
}
.icon-fullscreen:before {
  content: "\e9ea";
  color: #c2c5c7;
}
.icon-fullscreen-blue:before {
  content: "\e9eb";
  color: #33d0ff;
}
.icon-gis-button .path1:before {
  content: "\e9ec";
  color: #1e2a33;
}
.icon-gis-button .path2:before {
  content: "\e9ed";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-gis-button .path3:before {
  content: "\e9ee";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-gis-button .path4:before {
  content: "\e9ef";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-gis-button .path5:before {
  content: "\e9f0";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-group-layout:before {
  content: "\e9f1";
  color: #c2c5c7;
}
.icon-group-layout-blue:before {
  content: "\e9f2";
  color: #33d0ff;
}
.icon-guarantee:before {
  content: "\e9f3";
  color: #fff;
}
.icon-headphoto .path1:before {
  content: "\e9f4";
  color: #182127;
}
.icon-headphoto .path2:before {
  content: "\e9f5";
  margin-left: -1em;
  color: #475865;
}
.icon-hierarchical-layout:before {
  content: "\e9f6";
  color: #c2c5c7;
}
.icon-hierarchical-layout-blue:before {
  content: "\e9f7";
  color: #33d0ff;
}
.icon-hollow-circle:before {
  content: "\e9f8";
}
.icon-homeicon:before {
  content: "\e9f9";
  color: #617483;
}
.icon-homeicon-blue:before {
  content: "\e9fa";
  color: #33d0ff;
}
.icon-hospital:before {
  content: "\e9fb";
  color: #fff;
}
.icon-hotel:before {
  content: "\e9fc";
  color: #fff;
}
.icon-import:before {
  content: "\e9fd";
  color: #c2c5c7;
}
.icon-import1:before {
  content: "\e9fe";
  color: #5c6063;
}
.icon-import1-blue:before {
  content: "\e9ff";
  color: #33d0ff;
}
.icon-import-blue:before {
  content: "\ea00";
  color: #33d0ff;
}
.icon-index-btn .path1:before {
  content: "\ea01";
  color: #36d2ff;
}
.icon-index-btn .path2:before {
  content: "\ea02";
  margin-left: -1em;
  color: #36d2ff;
}
.icon-index-btn .path3:before {
  content: "\ea03";
  margin-left: -1em;
  color: #36d2ff;
  opacity: 0.42;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=42)";
  filter: alpha(opacity=42);
}
.icon-index-searchbox:before {
  content: "\ea04";
  color: #33d0ff;
}
.icon-intersection:before {
  content: "\ea05";
  color: #c2c5c7;
}
.icon-intersection-blue:before {
  content: "\ea06";
  color: #33d0ff;
}
.icon-ligature:before {
  content: "\ea07";
  color: #c2c5c7;
}
.icon-ligature-blue:before {
  content: "\ea08";
  color: #33d0ff;
}
.icon-line:before {
  content: "\ea09";
}
.icon-line-chart:before {
  content: "\ea0a";
  color: #c2c5c7;
}
.icon-linechart-blue:before {
  content: "\ea0b";
  color: #33d0ff;
}
.icon-line-color:before {
  content: "\ea0c";
  color: #c2c5c7;
}
.icon-line-color-blue:before {
  content: "\ea0d";
  color: #33d0ff;
}
.icon-line-style:before {
  content: "\ea0e";
  color: #c2c5c7;
}
.icon-line-style-blue:before {
  content: "\ea0f";
  color: #33d0ff;
}
.icon-line-thickness:before {
  content: "\ea10";
  color: #c2c5c7;
}
.icon-line-thickness-blue:before {
  content: "\ea11";
  color: #33d0ff;
}
.icon-loan:before {
  content: "\ea12";
  color: #fff;
}
.icon-login-unlock:before {
  content: "\ea13";
  color: #fff;
}
.icon-login-user-o:before {
  content: "\ea14";
  color: #fff;
}
.icon-logo .path1:before {
  content: "\ea15";
  color: #fff;
}
.icon-logo .path2:before {
  content: "\ea16";
  margin-left: -1em;
  color: #c6c6c6;
}
.icon-logo .path3:before {
  content: "\ea17";
  margin-left: -1em;
  color: #c6c6c6;
}
.icon-man:before {
  content: "\ea18";
  color: #fff;
}
.icon-map-marker-click:before {
  content: "\ea19";
  color: #ff270a;
}
.icon-map-marker-hover:before {
  content: "\ea1a";
  color: #ffc62e;
}
.icon-map-marker-move:before {
  content: "\ea1b";
  color: #ff0;
}
.icon-map-setting-head:before {
  content: "\ea1c";
  color: #c2c5c7;
}
.icon-map-setting-head-blue:before {
  content: "\ea1d";
  color: #33d0ff;
}
.icon-mark:before {
  content: "\ea1e";
  color: #c2c5c7;
}
.icon-mark-blue:before {
  content: "\ea1f";
  color: #33d0ff;
}
.icon-marker:before {
  content: "\ea20";
  color: #33d0ff;
}
.icon-mark-yellow:before {
  content: "\ea21";
  color: #ff0;
}
.icon-memorandum:before {
  content: "\ea22";
  color: #c2c5c7;
}
.icon-memorandum-blue:before {
  content: "\ea23";
  color: #33d0ff;
}
.icon-menubg:before {
  content: "\ea24";
}
.icon-message:before {
  content: "\ea25";
}
.icon-network-topology:before {
  content: "\ea26";
  color: #c2c5c7;
}
.icon-network-topology-blue:before {
  content: "\ea27";
  color: #33d0ff;
}
.icon-noblin .path1:before {
  content: "\ea28";
  color: #88e3ff;
}
.icon-noblin .path2:before {
  content: "\ea29";
  margin-left: -1em;
  color: #133547;
}
.icon-nodot-circle-o:before {
  content: "\ea2a";
  color: #384855;
}
.icon-notfind:before {
  content: "\ea2b";
}
.icon-online-shopping:before {
  content: "\ea2c";
  color: #fff;
}
.icon-people-move:before {
  content: "\ea2d";
  color: #c2c5c7;
}
.icon-people-move-blue:before {
  content: "\ea2e";
  color: #33d0ff;
}
.icon-phone .path1:before {
  content: "\ea2f";
  color: #252a2d;
}
.icon-phone .path2:before {
  content: "\ea30";
  margin-left: -1em;
  color: #464e55;
}
.icon-pie-chart:before {
  content: "\ea31";
  color: #c2c5c7;
}
.icon-pie-chart-blue:before {
  content: "\ea32";
  color: #33d0ff;
}
.icon-PLACE:before {
  content: "\ea33";
  color: #ffc62e;
}
.icon-plane:before {
  content: "\ea34";
  color: #fff;
}
.icon-police-accommodation:before {
  content: "\ea35";
  color: #fff;
}
.icon-police-car:before {
  content: "\ea36";
  color: #fff;
}
.icon-police-plane:before {
  content: "\ea37";
  color: #fff;
}
.icon-police-surface:before {
  content: "\ea38";
  color: #fff;
}
.icon-police-traffic:before {
  content: "\ea39";
  color: #fff;
}
.icon-police-train:before {
  content: "\ea3a";
  color: #fff;
}
.icon-polygon-o:before {
  content: "\ea3b";
  color: #c2c5c7;
}
.icon-polyline:before {
  content: "\ea3c";
  color: #c2c5c7;
}
.icon-power-off:before {
  content: "\ea3d";
  color: #fff;
}
.icon-power-off-blue:before {
  content: "\ea3e";
  color: #33d0ff;
}
.icon-pro:before {
  content: "\ea3f";
  color: #31f6e6;
}
.icon-property-frame-left .path1:before {
  content: "\ea40";
  color: #98e7ff;
}
.icon-property-frame-left .path2:before {
  content: "\ea41";
  margin-left: -1em;
  color: #98e7ff;
}
.icon-property-frame-left .path3:before {
  content: "\ea42";
  margin-left: -1em;
  color: #98e7ff;
}
.icon-property-frame-left .path4:before {
  content: "\ea43";
  margin-left: -1em;
  color: #87cce1;
}
.icon-property-frame-right .path1:before {
  content: "\ea44";
  color: #33d0ff;
}
.icon-property-frame-right .path2:before {
  content: "\ea45";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-property-frame-right .path3:before {
  content: "\ea46";
  margin-left: -1em;
  color: #01ddff;
}
.icon-property-frame-right .path4:before {
  content: "\ea47";
  margin-left: -1em;
  color: #01ddff;
}
.icon-property-frame-right .path5:before {
  content: "\ea48";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-property-frame-right .path6:before {
  content: "\ea49";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-pull-down:before {
  content: "\ea4a";
  color: #30b7e1;
}
.icon-pull-up:before {
  content: "\ea4b";
  color: #30b7e1;
}
.icon-QQ:before {
  content: "\ea4c";
  color: #fff;
}
.icon-QQ-group:before {
  content: "\ea4d";
  color: #fff;
}
.icon-quit:before {
  content: "\ea4e";
  color: #c2c5c7;
}
.icon-quit-blue:before {
  content: "\ea4f";
  color: #33d0ff;
}
.icon-refresh:before {
  content: "\ea50";
  color: #fff;
}
.icon-refresh-blue:before {
  content: "\ea51";
  color: #33d0ff;
}
.icon-related-file:before {
  content: "\ea52";
  color: #484e53;
}
.icon-related-file-white:before {
  content: "\ea53";
  color: #fff;
}
.icon-relation-map:before {
  content: "\ea54";
  color: #fff;
}
.icon-relation-map-blue:before {
  content: "\ea55";
  color: #33d0ff;
}
.icon-remittance:before {
  content: "\ea56";
  color: #fff;
}
.icon-repeat:before {
  content: "\ea57";
  color: #c2c5c7;
}
.icon-repeat-blue:before {
  content: "\ea58";
  color: #33d0ff;
}
.icon-replay:before {
  content: "\ea59";
  color: #c2c5c7;
}
.icon-replay-blue:before {
  content: "\ea5a";
  color: #33d0ff;
}
.icon-ring .path1:before {
  content: "\ea5b";
  color: #181d21;
}
.icon-ring .path2:before {
  content: "\ea5c";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path3:before {
  content: "\ea5d";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path4:before {
  content: "\ea5e";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path5:before {
  content: "\ea5f";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path6:before {
  content: "\ea60";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path7:before {
  content: "\ea61";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-ring .path8:before {
  content: "\ea62";
  margin-left: -1em;
  color: #2bb8e2;
}
.icon-save:before {
  content: "\ea63";
  color: #33d0ff;
}
.icon-save1:before {
  content: "\ea64";
  color: #c2c5c7;
}
.icon-save1-blue:before {
  content: "\ea65";
  color: #33d0ff;
}
.icon-school:before {
  content: "\ea66";
  color: #fff;
}
.icon-search:before {
  content: "\ea67";
  color: #c2c5c7;
}
.icon-search-blue:before {
  content: "\ea68";
  color: #33d0ff;
}
.icon-search-file:before {
  content: "\ea69";
}
.icon-search-gray:before {
  content: "\ea6a";
  color: #a7bbcb;
}
.icon-searchlist:before {
  content: "\ea6b";
  color: #617483;
}
.icon-searchlist-blue:before {
  content: "\ea6c";
  color: #33d0ff;
}
.icon-send:before {
  content: "\ea6d";
  color: #c2c5c7;
}
.icon-send-blue:before {
  content: "\ea6e";
  color: #33d0ff;
}
.icon-setup:before {
  content: "\ea6f";
  color: #c2c5c7;
}
.icon-setup-blue:before {
  content: "\ea70";
  color: #33d0ff;
}
.icon-share-square-o:before {
  content: "\ea71";
  color: #c2c5c7;
}
.icon-share-square-o-blue:before {
  content: "\ea72";
  color: #33d0ff;
}
.icon-square-layout:before {
  content: "\ea73";
  color: #c2c5c7;
}
.icon-square-layout-blue:before {
  content: "\ea74";
  color: #33d0ff;
}
.icon-square-o:before {
  content: "\ea75";
  color: #c2c5c7;
}
.icon-square-o-big:before {
  content: "\ea76";
  color: #c2c5c7;
}
.icon-square-o-big-blue:before {
  content: "\ea77";
  color: #33d0ff;
}
.icon-square-o-blue:before {
  content: "\ea78";
  color: #33d0ff;
}
.icon-star-yellow:before {
  content: "\ea79";
  color: #ff0;
}
.icon-stroke-count .path1:before {
  content: "\ea7a";
  color: #33d0ff;
}
.icon-stroke-count .path2:before {
  content: "\ea7b";
  margin-left: -1em;
  color: #181d21;
}
.icon-stroke-count .path3:before {
  content: "\ea7c";
  margin-left: -1em;
  color: #181d21;
}
.icon-stroke-count .path4:before {
  content: "\ea7d";
  margin-left: -1em;
  color: #181d21;
}
.icon-stroke-count .path5:before {
  content: "\ea7e";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-table:before {
  content: "\ea7f";
  color: #c2c5c7;
}
.icon-table-chart-blue:before {
  content: "\ea80";
  color: #33d0ff;
}
.icon-talk-ring:before {
  content: "\ea81";
  color: #fff;
}
.icon-th-large:before {
  content: "\ea82";
  color: #617483;
}
.icon-th-large-blue:before {
  content: "\ea83";
  color: #33d0ff;
}
.icon-thumbnailbig:before {
  content: "\ea84";
  color: #22cfff;
}
.icon-thumbnailsmall:before {
  content: "\ea85";
  color: #33d0ff;
}
.icon-thumb-tack:before {
  content: "\ea86";
  color: #c2c5c7;
}
.icon-thumb-tack-blue:before {
  content: "\ea87";
  color: #33d0ff;
}
.icon-timeline-layout:before {
  content: "\ea88";
  color: #c2c5c7;
}
.icon-timeline-layout-blue:before {
  content: "\ea89";
  color: #33d0ff;
}
.icon-title-block .path1:before {
  content: "\ea8a";
  color: #3c464c;
}
.icon-title-block .path2:before {
  content: "\ea8b";
  margin-left: -1em;
  color: #3c464c;
}
.icon-title-block .path3:before {
  content: "\ea8c";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-title-block .path4:before {
  content: "\ea8d";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-title-block .path5:before {
  content: "\ea8e";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-title-block .path6:before {
  content: "\ea8f";
  margin-left: -1em;
  color: #33d0ff;
}
.icon-title-block-left:before {
  content: "\ea90";
  color: #228bc7;
}
.icon-title-block-right:before {
  content: "\ea91";
  color: #228bc7;
}
.icon-toolbox:before {
  content: "\ea92";
  color: #c2c5c7;
}
.icon-toolbox-blue:before {
  content: "\ea93";
  color: #33d0ff;
}
.icon-topo-arrow:before {
  content: "\ea94";
}
.icon-topology:before {
  content: "\ea95";
  color: #33d0ff;
}
.icon-train:before {
  content: "\ea96";
  color: #fff;
}
.icon-transfer:before {
  content: "\ea97";
  color: #fff;
}
.icon-trash-o:before {
  content: "\ea98";
  color: #c2c5c7;
}
.icon-trash-o-blue:before {
  content: "\ea99";
  color: #33d0ff;
}
.icon-turn:before {
  content: "\ea9a";
  color: #c2c5c7;
}
.icon-turn-blue:before {
  content: "\ea9b";
  color: #33d0ff;
}
.icon-type:before {
  content: "\ea9c";
  color: #ff5e60;
}
.icon-union:before {
  content: "\ea9d";
  color: #c2c5c7;
}
.icon-union-blue:before {
  content: "\ea9e";
  color: #33d0ff;
}
.icon-user-circle:before {
  content: "\ea9f";
  color: #fff;
}
.icon-user-circle-blue:before {
  content: "\eaa0";
  color: #33d0ff;
}
.icon-v-circle:before {
  content: "\eaa1";
  color: #fff;
}
.icon-v-clircle-blue:before {
  content: "\eaa2";
  color: #33d0ff;
}
.icon-virtualarrows:before {
  content: "\eaa3";
  color: #445563;
}
.icon-warning-bell:before {
  content: "\eaa4";
  color: #c2c5c7;
}
.icon-warning-bell-blue:before {
  content: "\eaa5";
  color: #33d0ff;
}
.icon-warning-filter:before {
  content: "\eaa6";
  color: #fff;
}
.icon-watermarklogo .path1:before {
  content: "\eaa7";
  color: #252e33;
}
.icon-watermarklogo .path2:before {
  content: "\eaa8";
  margin-left: -1em;
  color: #182228;
}
.icon-watermarklogo .path3:before {
  content: "\eaa9";
  margin-left: -1em;
  color: #182228;
}
.icon-WEIBO:before {
  content: "\eaaa";
  color: #fff;
}
.icon-weixin:before {
  content: "\eaab";
  color: #fff;
}
.icon-weixin-group:before {
  content: "\eaac";
  color: #fff;
}
.icon-woman:before {
  content: "\eaad";
  color: #fff;
}
.layui-laydate,
.layui-laydate-hint {
  background-color: #fff !important;
  border: 1px solid #dedede !important;
  color: #2b363d !important;
}
.layui-laydate-header {
  line-height: 20px !important;
  border-bottom: 1px solid #dedede !important;
}
.layui-laydate-header i {
  font-size: 14px !important;
}
.layui-laydate-header i:hover {
  color: #07a5ee !important;
}
.layui-laydate-header span:hover {
  color: #07a5ee !important;
}
.layui-laydate-content td,
.layui-laydate-content th {
  height: 26px !important;
  padding: 0 !important;
  color: #2b363d !important;
}
.layui-laydate-content td:hover,
.layui-laydate-content li:hover {
  background-color: #eaeaea;
  color: #fff !important;
}
.layui-laydate-content td.laydate-selected {
  background-color: #07a5ee !important;
}
.layui-laydate-content .laydate-day-next,
.layui-laydate-content .laydate-day-prev {
  color: #d2d2d2 !important;
}
.layui-laydate-content .laydate-selected.laydate-day-next,
.layui-laydate-content .laydate-selected.laydate-day-prev {
  background-color: #f8f8f8 !important;
}
.layui-laydate-content .laydate-selected:hover {
  background-color: #07a5ee !important;
}
.layui-laydate-list {
  background-color: #fff !important;
}
.layui-laydate-list li {
  height: 31px !important;
  line-height: 31px !important;
}
.laydate-theme-grid .laydate-selected,
.laydate-theme-grid .laydate-selected:hover {
  background-color: #f2f2f2 !important;
  color: #07a5ee !important;
}
.layui-laydate .layui-laydate-main .layui-laydate-content .layui-this {
  background-color: #07a5ee !important;
}
.layui-laydate-footer {
  height: 30px !important;
  line-height: 30px !important;
  border-top: 1px solid #dedede !important;
}
.layui-laydate-footer .laydate-footer-btns {
  top: 0 !important;
}
.layui-laydate-footer .laydate-footer-btns span {
  height: 30px !important;
  line-height: 30px !important;
  border: none !important;
  background: none !important;
}
.layui-laydate-footer .laydate-footer-btns span:hover {
  color: #07a5ee !important;
}
