@import "../public/component";
@import "../../../js/public/jquery-custom-content-scroller/jquery.mCustomScrollbar";

 

html, body {
  overflow: hidden;
}

#index_main {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -(@width / 2);
  z-index: 10;
// overflow: hidden;
}


 


