
@keyframes myfirst
{
    0%   {  -webkit-filter: hue-rotate(0deg);}
    20%  { -webkit-filter: hue-rotate(-80deg);}
    40%  { -webkit-filter: hue-rotate(-160deg); }
    60%  { -webkit-filter: hue-rotate(-240deg); }
    80%  { -webkit-filter: hue-rotate(-300deg); }
    100% { -webkit-filter: hue-rotate(-360deg); }
}

.header {
    height:50px;
    width: 100%;
    position: relative;
    margin-top: 0px;
    background-color: #293742;
}

.header_list {
    height:50px;
    width: 100px;
    float: right;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.header_title {
    width: 100px;
    margin-right: 10px;
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 20px;
    color: #fff;
    cursor: pointer;
}

.header_ryxq {
    width: 200px;
    margin-right: 10px;
    font-size: 22px;
    position: absolute;
    top: 9px;
    left: 20px;

    height: 60px;
    color: #f35626;
    background: coral;
    background-image: -webkit-linear-gradient(45deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: myfirst 6s infinite linear;
    cursor: pointer;
}


body {
    margin: 0;
		background-color: rgba(19, 21, 34, 1); 
}
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
 

.org-nav {
    height: 80px;
}

.org-base-header {
	height: 80px;
}
     
.org-base {
	width: 100%;
	height: 100%;
	display: flex;
  position: fixed;
}

.org-content {
	height: 100%;
	color: #333333;
	flex: 1;
}

.org-aside {
	width: 335px;
	height: 100%; 
	flex: none; 
	font-family: '.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
	color:#CEE3FE;
}

.org-risk-overview{
    width: 335px;
	/* height: 60%; */
	padding-top: 20px;
}

.org-problem-statistics{
	width: 335px;
	/* height: 40%; */
	/* padding-top: 20px; */
}

.org-risk-overview-list {
    width: 100%;
    height: 25px;
    margin-top: 30px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 12px;
}

.org-risk-overview-listname {
	display: inline-block;
	width: 61px;
	white-space: nowrap; 
	
}
.org-risk-overview-listvalue{
	display: inline-block;
    width: 76px;
    height: 24px;
	word-wrap: break-word;
	background-repeat:no-repeat;
	background-image: url("/image/echarts/u504.png");
	color: #C2FEFF;
	text-align: center;
	padding-top: 3px;
	margin-right: 10px;
	cursor: pointer;
}

.org-risk-overview-chart{
	width: 310px;
	height: 230px;
}

.org-problem-statistics header {
	margin-bottom: 15px;
}

.org-problem-number-btn {
	display: inline-block;
	text-align: center;
    line-height: 25px;
	background-color: rgba(0,0,0,0);
    border: 0;
	width: 121px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	background-repeat:no-repeat;
	background-image: url("/image/echarts/u967.png");
	cursor: pointer;
}
.org-problem-number-btn:hover { 
	background-image: url("/image/echarts/u967_mouseOver.png");
}
.org-problem-number-btn-checked {
	background-image: url("/image/echarts/u967_mouseOver.png");
}

.org-problem-runp-btn {
	display: inline-block;
	text-align: center;
    line-height: 25px;
	background-color: rgba(0,0,0,0);
    border: 0;
	width: 107px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
	color: rgba(255, 255, 255, 0.8);
	background-repeat:no-repeat;
	background-image: url("/image/echarts/u969.png");
	cursor: pointer;
}

.org-problem-runp-btn:hover {
	background-image: url("/image/echarts/u969_mouseOver.png");
}

.org-problem-runp-btn-checked {
	background-image: url("/image/echarts/u969_mouseOver.png");
}

.org-problem-statistics-table {
	font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
	color:#97AFC9;
	width: 98%;
	height: 180px;
	margin-top: 5px;
	
}

.org-table-10 {
    width: 10%;
    text-align: center;
}
.org-table-20 {
    width: 21%;
    cursor: pointer;
    text-align: center;
}
.org-table-40 {
    width: 40%;
    cursor: pointer;
    text-align: center;
}
.org-table-50 {
	width: 50%;
    position: relative;
    text-align: center;
}
.org-problem-statistics-table tr{ 
	height: 28px; 
}
.org-problem-statistics-table thead{ 
	display: block;
}
.org-problem-statistics-table tbody{ 
	display: block;
	height: 150px;
	overflow: auto;

	scrollbar-base-color: #333; 
    scrollbar-base-color: #333;  
    scrollbar-3dlight-color: #333;  
    scrollbar-highlight-color: #333;  
    scrollbar-track-color: #EBEBEB; 
    scrollbar-arrow-color: black;  
	scrollbar-shadow-color: #333;  
	 
}

.org-problem-statistics-table tbody::-webkit-scrollbar {
    width: 6px;
  }
  
.org-problem-statistics-table tbody::-webkit-scrollbar-track {
    border-radius: 5px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
}

.org-problem-statistics-table tbody::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

.org-table-number-line-base {
	position: absolute;
    left: 0px;
    top: 8px;
    width: 128px;
    height: 12px;
    background: inherit;
    background-color: rgba(36, 43, 51, 0.4);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34, 43, 52, 1);
    border-radius: 150px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.org-table-number-line {
	position: absolute;
    left: 0px;
    top: 8px;
    width: 119px;
    height: 12px;
    background: inherit;
    background-color: rgba(255, 0, 0, 0.2);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 0, 0, 1);
    border-radius: 150px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #F2F2F2;
    text-align: right;
}

.org-risk-overview-model {
    display: none;
    margin-right: 30px;
    position: absolute;
    color: #F2F2F2;
    width: 0px;
    height: 375px;
    overflow: hidden;
    background-image: url("/image/echarts/u1176.png");
    background-repeat: no-repeat;
    transition: width 0.5s, height 0.5s;
    -webkit-transition: width 0.5s, height 0.5s;
}

.org-risk-overview-model-backImg {
    width: 260px;
    height: 366px;
    z-index: -1;
    position: absolute;
    top: 5px;
    left: 2px;
    background-image: url("/image/echarts/u1178.png");
    background-repeat: no-repeat;
}

.org-risk-overview-model-centerTopImg {
    width: 176px;
    height: 3px;
    position: absolute;
    top: 5px;
    left: 42px;
    background-image: url("/image/echarts/u1180.png");
    background-repeat: no-repeat;
}

.org-risk-overview-model-centerBottomImg {
    width: 176px;
    height: 3px;
    transform: rotate(180deg);
    position: absolute; 
    bottom: 4px;
    left: 42px;
    background-image: url("/image/echarts/u1180.png");
    background-repeat: no-repeat;
}

.model-header {
    margin-top: 30px;
    margin-left: 10px;
    width: 81px;
    height: 22px;
    font-family: '.PingFang-SC-Regular', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #CEE3FE;
}

.model-close {
    width: 34px;
    height: 16px;
    text-align: center;
    line-height: 13px;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 215px;
    cursor: pointer;
    background-image: url("/image/echarts/model-close.png");
    background-repeat: no-repeat;
}

.model-table {
    width: 86%;
    margin-left: 18px;
    border: 1px solid #102442;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 24px;
    display: table;
}

.model-table thead {
    display: block;
}
.model-table tbody{
    text-align: center;
    display: block;
    color: #00CCFF;
    height: 260px;
	overflow: auto;

	scrollbar-base-color: #333; 
    scrollbar-base-color: #333;  
    scrollbar-3dlight-color: #333;  
    scrollbar-highlight-color: #333;  
    scrollbar-track-color: #EBEBEB; 
    scrollbar-arrow-color: black;  
	scrollbar-shadow-color: #333;  
}

.model-table tbody::-webkit-scrollbar {
    width: 6px;
  }
  
  .model-table tbody::-webkit-scrollbar-track {
    border-radius: 5px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
}

.model-table tbody::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}