@import "../public/component";
@import "../../../js/public/jquery-custom-content-scroller/jquery.mCustomScrollbar";

body {
  background: url('../../../image/login_back.png') no-repeat 0 0 / 100% 100%;
}

html, body {
  overflow: hidden;
}

#index_main {
  position: absolute;
  top: 18%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -(@width / 2);
  z-index: 10;
// overflow: hidden;
}

.main-case {
  margin-top: 100px;
}

.show-title {
  font-size: 14px;
  text-align: center;
  margin: 5px;
}
.show-detail {
  margin: 5px 0 20px 0;
  text-align: center;
}